*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    /* background: rgb(243,188,254);
    background: linear-gradient(0deg, rgba(243,188,254,1) 0%, rgba(119,117,245,1) 100%); */
    background: rgb(119,117,245);
}

article{
    background-color: rgb(56, 219, 219);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 25rem;
    max-width: 18rem;
    padding: 1rem;
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.4);
}

img{
    max-width: 80%;
    border-radius: 100px;
    border: solid greenyellow;
}

h1{
    display: flex;
    justify-content: center;
}

h2{
    margin-top: 0.5rem;
    text-align: center;
}

li{
    list-style: none;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

ul{
    text-align: center;
}

li{
    margin-top: 0.5rem;
}

.alive{
    color: green;
}

.alive::before{
    content: "💚 ";
}

.unknown{
    color:purple;
}

.unknown::before{
    content: "❔ ";
}


.dead{
    color: red;
}

.dead::before{
    content: "💀 ";
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color:rgb(235, 250, 215);
    text-shadow: 1px 1px 5px greenyellow, 0 0 1em greenyellow, 0 0 0.2em greenyellow;
}

.imgtitulo{
    border: none;
    border-radius: 0%;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
}

label{
    color: greenyellow;
}

label > img{
    border: none;
    border-radius: 0;
    max-height: 1.5rem;
}

input{
    min-width: 20%;
    padding: 0.2rem;
    border: solid 1px rgb(56, 219, 219);
    border-radius: 5px 5px 5px 5px;
    background-color: rgba(47, 51, 51, 0.233);
    color: greenyellow;
    outline: none;
    
    
}

input::placeholder{
    color: rgba(161, 255, 224, 0.507);
}

input:focus{
    filter: drop-shadow(0 0 1em rgb(56, 219, 219));
}

.not-found{
    display: none;
}